---
import BaseLayout from "../../../components/BaseLayout/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex-center flex-col">
    <div class="files-card-title-container">
      <h2>ForgetfulHarshEggs</h2>
      <article>Expires on 12/12/2021</article>
    </div>

    <div class="container files-card-container flex-wrap">
      <article class="file-card">
        <span>
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 46 38"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6 0C2.686 0 0 2.686 0 6V32C0 35.314 2.686 38 6 38H40C43.314 38 46 35.314 46 32V6C46 2.686 43.314 0 40 0H6ZM6 4H40C41.105 4 42 4.895 42 6V28.4336L32.6816 20.0547C31.1586 18.6847 28.8442 18.6865 27.3242 20.0605L19.4023 27.2188L15.6094 23.9746C14.1084 22.6906 11.8944 22.6954 10.3984 23.9844L4 29.4961V6C4 4.895 4.895 4 6 4ZM14 10C11.791 10 10 11.791 10 14C10 16.209 11.791 18 14 18C16.209 18 18 16.209 18 14C18 11.791 16.209 10 14 10Z"
              fill="currentColor"></path>
          </svg>
        </span>
        <h3 class="font-medium">Recon by Fire.mov</h3>
        <p class="file-size">12Kb</p>
        <button>Download</button>
      </article>
      <article class="file-card">
        <span>
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 46 38"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6 0C2.686 0 0 2.686 0 6V32C0 35.314 2.686 38 6 38H40C43.314 38 46 35.314 46 32V6C46 2.686 43.314 0 40 0H6ZM6 4H40C41.105 4 42 4.895 42 6V28.4336L32.6816 20.0547C31.1586 18.6847 28.8442 18.6865 27.3242 20.0605L19.4023 27.2188L15.6094 23.9746C14.1084 22.6906 11.8944 22.6954 10.3984 23.9844L4 29.4961V6C4 4.895 4.895 4 6 4ZM14 10C11.791 10 10 11.791 10 14C10 16.209 11.791 18 14 18C16.209 18 18 16.209 18 14C18 11.791 16.209 10 14 10Z"
              fill="currentColor"></path>
          </svg>
        </span>
        <h3 class="font-medium">Recon by Fire.mov</h3>
        <p class="file-size">12Kb</p>
        <button>Download</button>
      </article>
      <article class="file-card">
        <span>
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 46 38"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6 0C2.686 0 0 2.686 0 6V32C0 35.314 2.686 38 6 38H40C43.314 38 46 35.314 46 32V6C46 2.686 43.314 0 40 0H6ZM6 4H40C41.105 4 42 4.895 42 6V28.4336L32.6816 20.0547C31.1586 18.6847 28.8442 18.6865 27.3242 20.0605L19.4023 27.2188L15.6094 23.9746C14.1084 22.6906 11.8944 22.6954 10.3984 23.9844L4 29.4961V6C4 4.895 4.895 4 6 4ZM14 10C11.791 10 10 11.791 10 14C10 16.209 11.791 18 14 18C16.209 18 18 16.209 18 14C18 11.791 16.209 10 14 10Z"
              fill="currentColor"></path>
          </svg>
        </span>
        <h3 class="font-medium">Recon by Fire.mov</h3>
        <p class="file-size">12Kb</p>
        <button>Download</button>
      </article>
      <article class="file-card">
        <span>
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 46 38"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6 0C2.686 0 0 2.686 0 6V32C0 35.314 2.686 38 6 38H40C43.314 38 46 35.314 46 32V6C46 2.686 43.314 0 40 0H6ZM6 4H40C41.105 4 42 4.895 42 6V28.4336L32.6816 20.0547C31.1586 18.6847 28.8442 18.6865 27.3242 20.0605L19.4023 27.2188L15.6094 23.9746C14.1084 22.6906 11.8944 22.6954 10.3984 23.9844L4 29.4961V6C4 4.895 4.895 4 6 4ZM14 10C11.791 10 10 11.791 10 14C10 16.209 11.791 18 14 18C16.209 18 18 16.209 18 14C18 11.791 16.209 10 14 10Z"
              fill="currentColor"></path>
          </svg>
        </span>
        <h3 class="font-medium">Recon by Fire.mov</h3>
        <p class="file-size">12Kb</p>
        <button>Download</button>
      </article>
      <article class="file-card">
        <span>
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 46 38"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6 0C2.686 0 0 2.686 0 6V32C0 35.314 2.686 38 6 38H40C43.314 38 46 35.314 46 32V6C46 2.686 43.314 0 40 0H6ZM6 4H40C41.105 4 42 4.895 42 6V28.4336L32.6816 20.0547C31.1586 18.6847 28.8442 18.6865 27.3242 20.0605L19.4023 27.2188L15.6094 23.9746C14.1084 22.6906 11.8944 22.6954 10.3984 23.9844L4 29.4961V6C4 4.895 4.895 4 6 4ZM14 10C11.791 10 10 11.791 10 14C10 16.209 11.791 18 14 18C16.209 18 18 16.209 18 14C18 11.791 16.209 10 14 10Z"
              fill="currentColor"></path>
          </svg>
        </span>
        <h3 class="font-medium">Recon by Fire.mov</h3>
        <p class="file-size">12Kb</p>
        <button>Download</button>
      </article>
      <article class="file-card">
        <span>
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 46 38"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6 0C2.686 0 0 2.686 0 6V32C0 35.314 2.686 38 6 38H40C43.314 38 46 35.314 46 32V6C46 2.686 43.314 0 40 0H6ZM6 4H40C41.105 4 42 4.895 42 6V28.4336L32.6816 20.0547C31.1586 18.6847 28.8442 18.6865 27.3242 20.0605L19.4023 27.2188L15.6094 23.9746C14.1084 22.6906 11.8944 22.6954 10.3984 23.9844L4 29.4961V6C4 4.895 4.895 4 6 4ZM14 10C11.791 10 10 11.791 10 14C10 16.209 11.791 18 14 18C16.209 18 18 16.209 18 14C18 11.791 16.209 10 14 10Z"
              fill="currentColor"></path>
          </svg>
        </span>
        <h3 class="font-medium">Recon by Fire.mov</h3>
        <p class="file-size">12Kb</p>
        <button>Download</button>
      </article>
    </div>
  </div>
</BaseLayout>
