---
---

<div>
  <input type="file" name="" id="files" max="3" multiple />
  
</div>

<script type="text/javascript" defer>
  let fileList = [];
  const fileUpload = document.getElementById("files");
  fileUpload.addEventListener("change", async (e) => {
    for (let i = 0; i < e.target.files.length; i++) {
      const files = e.target.files;

      if (files[i].size > 26214400) {
        alert("File Size is too large");
        return;
      }

      for (let file of files) {
        if (fileList.length === 3) {
          alert("Reached File Limit");
          return;
        }

      }
    }
  });
</script>
