---
import Files from "./Files.astro";
---

<form class="file-form-container">
  <h2 id="host-id"></h2>
  <Files />
  <button type="submit" id="submit-btn" class="submit-btn">Save</button>
</form>
<script>
  const form = document.querySelector(".file-form-container");
  const hostId = document.getElementById("host-id");

  try {
    hostId.innerText = JSON.parse(localStorage.getItem("hostId")) || "...";
  } catch {
    hostId.innerText = "...";
  }
  genereateId();

  form.addEventListener("submit", function (event) {
    event.preventDefault();
    // @ts-ignore
    return (window.location.href = "/host/password");
  });

  async function genereateId() {
    // @ts-ignore
    if (localStorage.getItem("hostId") && fileList.length !== 0) {
      hostId.innerText = localStorage.getItem("hostId");
      hostId.setAttribute("value", localStorage.getItem("hostId"));
      document.querySelectorAll(".progress-container").forEach((el) => {
        el.setAttribute("style", "display: none");
      });
      document.querySelectorAll(".loading-file").forEach((el) => {
        el.classList.remove("loading-file");
      });
      return;
    }
    const req = await fetch("/api/url/generate", {
      method: "GET",
    });
    let id = await req.text();
    if (!id) {
      while (!id) {
        genereateId();
      }
    } else {
      localStorage.setItem("hostId", id);
    }

    hostId.innerText = id;
    hostId.setAttribute("value", id);
  }
</script>
