---
import Files from "./Files.astro";
---

<form class="file-form-container">
  <h2 id="host-id"></h2>
  <Files />
  <button type="submit" class="submit-btn">Save</button>
</form>
<script>
  const form = document.querySelector(".file-form-container");
  const hostId = document.getElementById("host-id");

  try {
    hostId.innerText = JSON.parse(localStorage.getItem("hostId")) || "...";
  } catch {
    hostId.innerText = "...";
  }
  genereateId();

  form.addEventListener("submit", function (event) {
    event.preventDefault();
    // @ts-ignore

    window.location.href = "/host/password";
  });

  async function genereateId() {
    // @ts-ignore
    if (localStorage.getItem("hostId") && fileList.length !== 0) {
      hostId.innerText = localStorage.getItem("hostId");
      hostId.setAttribute("value", localStorage.getItem("hostId"));
      document.querySelectorAll(".progress-container").forEach((el) => {
        el.setAttribute("style", "display: none");
      });
      document.querySelectorAll(".loading-file").forEach((el) => {
        el.classList.remove("loading-file");
      });
      return;
    }
    const req = await fetch("/api/url/generate", {
      method: "GET",
    });
    let id = await req.text();
    if (!id) {
      while (!id) {
        genereateId();
      }
    } else {
      localStorage.setItem("hostId", id);
    }

    hostId.innerText = id;
    hostId.setAttribute("value", id);
  }
</script>

<!-- <div>
  <h1>Upload Image</h1>
hello wrold
  <div>
    <div>
      <h2 id="url">...</h2>
      <span id="updateId">
        
      </span>
    </div>

    <input id="password" type="password" />

    <button id="submit">Submit</button>

    <Files />
  </div>
</div>

<script type="text/javascript">
  const updateId = document.getElementById("updateId");
  const url = document.getElementById("url");
  const submitBtn = document.getElementById("submit");
  const password = document.getElementById("password");
  let id = "...";
  const getGeneratedId = async () => {
    const res = await fetch("./api/url");
    if (res.status !== 200) {
      return false;
    }
    const id = await res.text();
    return id;
  };

  window.onload = async () => {
    id = await getGeneratedId();
    if (id) {
      url.innerText = id;
    }
  };
  updateId.addEventListener("click", async () => {
    id = await getGeneratedId();
    if (id) {
      url.innerText = id;
    }
  });
  submitBtn.addEventListener("click", async () => {
    

    
  });
</script>

<style>

</style> -->
