---
import Files from "./Files.astro";
import "./host.scss";

---

<div>
  <h1>Upload Image</h1>

  <div class="form">
    <div class="id-container">
      <h2 id="url">...</h2>
      <span id="updateId">
        <svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10 17.5C10.5523 17.5 11 17.0523 11 16.5C11 15.9477 10.5523 15.5 10 15.5V17.5ZM5 16.5V15.5C4.44772 15.5 4 15.9477 4 16.5H5ZM4 21.5C4 22.0523 4.44772 22.5 5 22.5C5.55228 22.5 6 22.0523 6 21.5H4ZM14 7.5C13.4477 7.5 13 7.94772 13 8.5C13 9.05228 13.4477 9.5 14 9.5V7.5ZM19 8.5V9.5C19.5523 9.5 20 9.05228 20 8.5H19ZM20 3.5C20 2.94772 19.5523 2.5 19 2.5C18.4477 2.5 18 2.94772 18 3.5H20ZM3.65582 9.12855C3.44893 9.64062 3.69633 10.2235 4.2084 10.4303C4.72047 10.6372 5.3033 10.3898 5.51019 9.87777L3.65582 9.12855ZM7.29255 6.03198L7.88104 6.84049L7.29255 6.03198ZM15.738 5.42661L16.2051 4.54244V4.54244L15.738 5.42661ZM18.05 8.97889C18.3278 9.45621 18.9399 9.61795 19.4173 9.34014C19.8946 9.06233 20.0563 8.45017 19.7785 7.97285L18.05 8.97889ZM20.3447 15.8714C20.5516 15.3594 20.3042 14.7765 19.7922 14.5696C19.2801 14.3628 18.6973 14.6101 18.4904 15.1222L20.3447 15.8714ZM8.2627 19.5734L8.72985 18.6892L8.2627 19.5734ZM5.95021 16.0211C5.6724 15.5438 5.06024 15.3821 4.58292 15.6599C4.10559 15.9377 3.94385 16.5499 4.22166 17.0272L5.95021 16.0211ZM10 15.5H5V17.5H10V15.5ZM4 16.5V21.5H6V16.5H4ZM14 9.5H19V7.5H14V9.5ZM20 8.5V3.5H18V8.5H20ZM5.51019 9.87777C6.00079 8.66349 6.82219 7.6112 7.88104 6.84049L6.70406 5.22348C5.34268 6.21439 4.28659 7.56734 3.65582 9.12855L5.51019 9.87777ZM7.88104 6.84049C8.93983 6.06982 10.1941 5.61159 11.5004 5.51795L11.3574 3.52307C9.67799 3.64345 8.0655 4.23252 6.70406 5.22348L7.88104 6.84049ZM11.5004 5.51795C12.8067 5.42431 14.1128 5.69898 15.2708 6.31079L16.2051 4.54244C14.7163 3.75583 13.0369 3.40268 11.3574 3.52307L11.5004 5.51795ZM15.2708 6.31079C16.4286 6.92249 17.3911 7.84681 18.05 8.97889L19.7785 7.97285C18.9316 6.51775 17.6941 5.32915 16.2051 4.54244L15.2708 6.31079ZM18.4904 15.1222C17.9998 16.3365 17.1784 17.3888 16.1195 18.1595L17.2965 19.7765C18.6579 18.7856 19.714 17.4326 20.3447 15.8714L18.4904 15.1222ZM16.1195 18.1595C15.0606 18.9302 13.807 19.3884 12.5008 19.4821L12.6438 21.477C14.3233 21.3566 15.9352 20.7674 17.2965 19.7765L16.1195 18.1595ZM12.5008 19.4821C11.1945 19.5757 9.88778 19.301 8.72985 18.6892L7.79554 20.4575C9.28435 21.2442 10.9643 21.5973 12.6438 21.477L12.5008 19.4821ZM8.72985 18.6892C7.57195 18.0774 6.60901 17.1531 5.95021 16.0211L4.22166 17.0272C5.06864 18.4824 6.30671 19.6709 7.79554 20.4575L8.72985 18.6892Z"
          ></path>
        </svg>
      </span>
    </div>
    <Files />
  </div>
</div>

<script>
import {test} from "../../../public/common/utils.js";

  test()
  // const updateId = document.getElementById("updateId");
  // const url = document.getElementById("url");
  // (async () => {
  //   const id = await getGeneratedId(window.location.origin);
  //   console.log(id);
  // })()

  // const getGeneratedId = async () => {
  //   const res = await fetch("./api/url");
  //   if (res.status !== 200) {
  //     return false;
  //   }
  //   const id = await res.text();
  //   return id;
  // };


  // window.onload = async () => {
  //   let id = await getGeneratedId();
  //   if (!id) {
  //     id = "...";
  //   }
  //   url.innerText = id;
  // };
  // updateId.addEventListener("click", async () => {
  //   let id = await getGeneratedId();
  //   if (!id) {
  //     id = "...";
  //   }
  // });
</script>

<!-- // if(!/(?=.*\d)/.test(password))
// password regex to match atleast 1 number
// const regex = /(?=.*\d)/;
//  password regex to match atleast 1 uppercase letter
// const regex1 = /(?=.*[A-Z])/;
//  password regex to match atleast 1 lowercase letter
//const regex2 = /(?=.*[a-z])/;
//  password regex to match atleast 1 special character
// const regex3 = /(?=.*[!@#$%^&*])/;
//  password regex to match atleast 8 characters
 // const regex4 = /(?=.{8,})/;
// const passwordInput = document.getElementById("password");
  // const submitButton = document.querySelector("button");
  
  // const submit = () => {
    // let password = (passwordInput as HTMLInputElement).value;
    // hostFile("image", sessionStorage.getItem("image"), password, id);
//  };
  
  // passwordInput.addEventListener("change", submit);
  // submitButton.addEventListener("click", submit); --> 
