---
import BaseLayout from "../../components/BaseLayout/BaseLayout.astro";

const { id } = Astro.params;
---
<BaseLayout>
  <form class="password-container login-container flex-center flex-col">
    <h2>ForgetfulHarshEggs</h2>
    <input type="password" placeholder="Password" />
    <button>Login</button>
  </form>
</BaseLayout>
<script>

const form = document.querySelector(".login-container");
  form.addEventListener("submit", function (event) {
    event.preventDefault();
    window.location.href = "/id/decrypted";
  });













  
  // import { validatePassword } from "../../common/utils";
  // const password = document.getElementById("password");
  // password.addEventListener("change", async (e: Event) => {
  //   const { value } = e.target as HTMLInputElement;
  //   const isSuccess = await validatePassword(value);
  //   console.log(isSuccess)
  // });
</script>
