---
import BaseLayout from "../components/BaseLayout/BaseLayout.astro";
import "../styles/index.scss";


---

<BaseLayout>
  <header>
    <h1>Private File Hosting Service</h1>
    <p>
      Upload files with a simple URL that is easy to remember,<br /> share, and access
      it from anywhere with a secure password
    </p>
    <a href="/host">Get Started</a>
  </header>

  <div class="about">
    <h1>About Us</h1>
    <p>
      Prizia is an online file storage service that lets you upload and share
      files online with a simple, secure URL. Simply upload your files with the
      Prizia URL and share it with anyone by sending them the link. You can also
      set a password on your URL, so only people with the password can access
      your files.
    </p>
  </div>
</BaseLayout>
