---
import BaseLayout from "../components/BaseLayout/BaseLayout.astro";
---

<BaseLayout>
  <header class="hero-container">
    <h1 class="font-medium font-lg">Prizia</h1>
    <p>
      Protect your files with our secure and password-protected free file
      hosting service, ensuring your data stays encrypted and accessible only to
      those with the password
    </p>
    <div>
      <a href="/host">start uploading</a>
    </div>
  </header>
</BaseLayout>
